body {
  font-family: Tahoma, Geneva, sans-serif;
  background-color: #E6FFA0;
}

h1,
h2,
h3 {
  font-family: Tahoma, Geneva, sans-serif;
}


.pageTitle {
  background-color: rgba(34, 201, 252, 0.8);
  color: #005F7C;
}


.btn.focus, .btn:focus, .btn:hover { 
  color: #3350F6; 
}


#session button {
  margin-top: -10px;
  padding: 0.5em 3em;
}

#length {
  display: inline-block;
  margin: 0 12px;
}

#resume, #stop { display: none; }

#clock { margin-bottom: 12px; }

.circle {
  height: 390px;
  padding-top: 7em;
  border: 1px solid #5F722D;
  border-radius: 50%;
}

.circle h2, .circle h3 {
 font-size: 3em; 
}

.ghost {
  background-color: transparent;
  border-color: #5F722D;
}

.green { border-color: #5F722D; }


/* Sticky Footer
http://ryanfait.com/resources/footer-stick-to-bottom-of-page/ */

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%; 
  height: auto !important; /*Cause footer to stick to bottom in IE 6*/
  height: 100%; 
  margin: 0 auto -4em; /*Allow for footer height*/

}

.footer,
.push {
  clear: both;
}

.footer {
  min-height: 4em;
  background-color: rgba(34, 201, 252, 0.8);
}


.lbl {
  color: #005F7C;
}

.lbl a:link, .lbl a:visited {
  color: #FFF;
}